.header {
  width: calc(100% - 24px);
  padding: 4px 12px;
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
  background-color: #fafbfc;
  overflow: hidden;
}

.header .header-icon {
  display: flex;
  align-items: center;
  margin: 0 6px;
  border-radius: 4px;
  cursor: pointer;
}

.header .header-icon svg {
  padding: 4px;
}

.header .header-icon:hover {
  background-color: #e1e4e8;
}

.header .header-right {
  float: right;
  display: flex;
  height: 100%;
}

.header-normal .header-whole {
  float: left;
  display: flex;
  height: 100%;
}

.header-normal .header-simple {
  display: none;
}

.header-short .header-whole {
  display: none;
}

.header-short .header-simple {
  float: left;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.header-short .header-simple .word-btn {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  cursor: pointer;
}

.header-short .header-simple .active {
  color: #0366d6;
}

.header-short .big-screen {
  display: none !important;
}

/* @media only screen and (min-width: 800px) {
  .header-whole {
    float: left;
    display: flex;
    height: 100%;
  }
  .header-simple {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header-whole {
    display: none;
  }
  .header-simple {
    float: left;
    display: flex;
    align-items: center;
    line-height: 24px;
  }

  .header-simple .word-btn {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  .header-simple .active {
    color: #0366d6;
  }

  .big-screen {
    display: none !important;
  }
} */
